.input {
  &__search {
    font-family: 'Barlow Semi Condensed', sans-serif;
    &-position {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
    }
    padding: 5px 10px;
    color: $base-black;
    border: none;
    background-color: transparent;
    width: 85%;
    font-size: 16px;
    border-bottom: 1px solid $base-black;
  }
  &__size {
    &:checked ~ .input__size-label {
      color: $white;
      background-color: $pink;
    } 
    &-position {
      position: relative;
      margin-right: 47px;
    }
    &-label{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      @include font (18px, 300, 18px);
      color: $pink;
      background-color: $background-rose;
      border: 1px solid $pink;
      border-radius: 8px;
      &:hover {
        background-color: lighten($color: $pink, $amount: 25)
      }
      &--not-available {
        color: gray;
        border: 1px solid $ligth-gray;
        &:after {
          content: '';
          width: 65px;
          position:absolute;
          transform: rotate(-45deg);
          border-top: 1px solid $ligth-gray;
        }
      }
    }
  }
}