.checkout {
  padding-top: 12px;
  & h2 {
    color: darken($color: #54957A, $amount: 15);
  }
  &-btn {
    margin: 30px auto 0;
    @media (min-width: 1024px){
      display: flex;
      justify-content: space-between;
      width: 600px;
      &--new-buy {
        margin: 30px 0 0;
        @media (min-width: 1024px){
          width: 600px;
        }
      }
    }
  }
  &-container {
    @media (min-width: 1024px){
      width: 600px;
      margin: 0 auto;
    }
  }
}