.card {
  &__list {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: 1024px){
      display: grid;
      grid-template-columns: 24% 24% 24% 24%;
      grid-gap: 16px;
    }
  }
  &__item {
    margin: 5px 0;
    width: 48%;
    border-radius: 8px;
    background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
    @media (min-width: 1024px){
      margin: 0 0 8px;
      width: 100%;
    }
  }
}