// colors
$background-rose: #F7F2F3;
$pink: #D88A95;
$dark-pink: #4B4B4B;

$base-black: #3C3C3C;
$gray: #A0A0A0;
$ligth-gray: #C1BEBE;
$white: #FCFCFC;

$red: #D96060;
$green: #54957A;
$blue: #425C8D;