.card {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin: 5px 0;
    width: 48%;
    border-radius: 8px;
    background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
  }
}