.card {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin: 5px 0;
    width: 48%;
    border-radius: 8px;
    background-color: #FFFFFF;
    overflow: hidden;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
    &-text-group {
      padding: 10px 10px 15px;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 0.5px;
      font-size: 14px;
      & h4 {
        font-size: 14px;
        font-weight: 400;
      }
      &-align {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      &-price {
        margin-top: 10px;
        & p {
          font-size: 10px;
          font-weight: 300;
        }
        &--old {
          text-decoration: line-through;
        }
        &--new {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}