.header {
  height: 60px;
  display: flex;
  align-items: center;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-align {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  }

  &__logo {
    & h1 {
      font-family: 'Oswald', sans-serif;
      font-size: 24px;
      font-weight: 300;
    }
  }

  &__search {
    &-click {
      width: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      overflow: hidden;
      right: 0;
      top: 0;
      background-color: #F7F2F3;
      transition: 0.3s all;

      &--open {
        width: 100%;
      }
    }
  }
}