.cart {
  @media (min-width: 1024px){
    padding-top: 15px;
  }
  &__list {
    @media (min-width: 1024px){
      width: 600px;
      margin: 0 auto;
    }
    &-title {
      @include font (12px, 500, 12px);
      padding-bottom: 5px;
    }
    &-empty {
      font-weight: 700;
    }
  }
  &__item {
    padding: 10px 0;
    border-bottom: 1px dashed $pink;
    display: flex;
    align-items: flex-start;
    &-text-group {
      width: 85%;
      padding-top: 5px;
    }
    &-size {
      margin-top: 10px;
      padding: 0 10px;
      @include font (12px, 400, 12px);
      & span {
        font-weight: 600;
      }
    }
    &-quantity {
      margin-top: 5px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      @include font (12px, 400, 12px);
      & span {
        width: 30px;
        margin: 0 8px;
        padding: 5px 10px;
        text-align: center;
        @include font (14px, 400, 14px);
        border: 1px solid $base-black;
        border-radius: 5px;
      }
    }
    &-align {
      width: 65%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media (min-width: 1024px){
        width: 85%;
      }
    }
  }
  &-total {
    padding: 30px 0;
    @media (min-width: 1024px){
      width: 600px;
      margin: 0 auto;
    }
    & p {
      @include font (16px, 500, 16px);
    }
    & h5 {
      margin: 5px 0 10px;
      @include font (22px, 600, 22px);
    }
    & span {
      color: $pink;
      @include font (14px, 600, 14px);
    }
  }
  &-btn {
    @media (min-width: 1024px){
      display: flex;
      justify-content: space-between;
      width: 600px;
      margin: 0 auto 30px;
    }
    &--empty {
      margin: 30px auto 0;
      @media (min-width: 1024px){
        margin: 30px 0 0;
        width: 600px;
      }
    }
  }
}