.cart {
  @media (min-width: 1024px){
    padding-top: 15px;
  }
  &__list {
    @media (min-width: 1024px){
      width: 600px;
      margin: 0 auto;
    }
    &-title {
      padding-bottom: 5px;
      font-size: 12px;
      font-weight: 500;
    }
    &-empty {
      font-weight: 700;
    }
  }
  &__item {
    padding: 10px 0;
    border-bottom: 1px dashed #D88A95;
    display: flex;
    align-items: flex-start;
    &-text-group {
      width: 85%;
      padding-top: 5px;
    }
    &-size {
      margin-top: 10px;
      padding: 0 10px;
      font-size: 12px;
      font-weight: 400;
      & span {
        font-weight: 600;
      }
    }
    &-quantity {
      margin-top: 5px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      & span {
        margin: 0 8px;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #3C3C3C;
        border-radius: 5px;
      }
    }
    &-align {
      width: 65%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media (min-width: 1024px){
        width: 85%;
      }
    }
  }
  &-total {
    padding: 30px 0;
    @media (min-width: 1024px){
      width: 600px;
      margin: 0 auto;
    }
    & p {
      font-size: 16px;
      font-weight: 500;
    }
    & h5 {
      margin: 5px 0 10px;
      font-size: 22px;
      font-weight: 600;
    }
    & span {
      color: #D88A95;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &-btn {
    @media (min-width: 1024px){
      display: flex;
      justify-content: space-between;
      width: 600px;
      margin: 0 auto 30px;
    }
    &--empty {
      @media (min-width: 1024px){
        width: 600px;
        margin: 30px auto 0;
      }
    }
  }
}