.product-size {
  width: 100%;
  margin: 10px 0 50px;
  & h5 {
    margin-bottom: 5px;
    @include font (14px, 400, 14px);
  }
  &-needed {
    display: none;
    margin-bottom: 5px;
    @include font (12px, 600, 12px);
    color: $red;
    &--active {
      display: block;
    }
  }
  &__group {
    width: 100%;
    height: 50px;
    margin: 10px 0 25px;
    display: flex;
  }
}