.search {
  &__input {
    width: 0;
    display: flex;
    position: absolute;
    overflow: hidden;
    right: 0;
    background-color: #F7F2F3;
    transition: 0.5s all;
    &--open {
      width: 100%;
      @media (min-width: 1280px){
        width: 400px;
      }
    }
  }
  &__list {
    width: 100%;
    height: calc(100% - 60px);
    padding-top: 5px;
    position: fixed;
    overflow: hidden;
    top: 60px;
    left: 100%;
    transition: 0.5s all;
    background-color: rgba(247, 242, 243, 0.9);
    z-index: 1;
    @media (min-width: 1024px){
      padding: 0 10px;
      width: 570px;
      & .container {
        width: 320px;
        margin: 0;
      }
    }
    @media (min-width: 1280px){
      width: 470px;
    }
    &-title {
      padding-bottom: 5px;
      font-size: 12px;
      font-weight: 500;
    }
    &-not-found {
      font-weight: 700;
    }
    &--open {
      left: 0;
      overflow-y: scroll;
      @media (min-width: 1024px){
        right: 0;
        left: unset;
      }
    }
    &--body-hidden {
      position: fixed;
    }
  }
  &__item {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 2px solid #D88A95;
    & a {
      display: flex;
      align-items: flex-end;
    }
  }
}