.search {
  &__input {
    width: 0;
    display: flex;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    background-color: #F7F2F3;
    transition: 0.3s all;
    &--open {
      width: 100%;
    }
  }
  &__list {
    width: 0;
    padding-top: 20px;
    position: absolute;
    overflow: hidden;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F7F2F3;
    & p {
      font-family: 'Oswald', sans-serif;
      letter-spacing: 0.5px;
      font-size: 12px;
      font-weight: 400;
    }
    &--open {
      width: 100%;
    }
  }
  &__item {
    padding: 10px 0;
    border-bottom: 2px solid #D88A95;
    & a {
      display: flex;
      align-items: flex-end;
    }
  }
}