body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  // position: relative;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: $base-black;
  background-color: $background-rose;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: initial;
  list-style: none;
  text-decoration: none;
  color: $base-black;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  @media (min-width: 1024px){
    width: 1000px;
  }
  @media (min-width: 1280px){
    width: 1200px;
  }
}