.header {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-align {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @media (min-width: 1024px){
        width: 945px;
      }
      @media (min-width: 1280px){
        width: 1150px;
      }
    }
  }
  &__logo {
    & h1 {
      font-family: 'Open Sans Condensed', sans-serif;
      @include font (30px, 300, 30px);
      letter-spacing: 5px;
      color: $base-black;
      @media (min-width: 1280px){
        font-size: 40px;
      }
    }
  }
  &__cart {
    display: flex;
    position: relative;
    &-quantity {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      font-family: 'Open Sans Condensed', sans-serif;
      @include font (10px, 700, 10px);
      letter-spacing: 0.5px;
      color: #FCFCFC;
      background-color: $pink;
      border-radius: 50%;
    }
  }
}